@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --accent: #0ea5a4;
}

body{
  @apply bg-white text-slate-800 antialiased;
}

.card{
  @apply rounded-2xl p-6 shadow-md bg-white/90;
}
